@using Microsoft.AspNetCore.Identity
@using LeaveManagement.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item"><span class="navbar-text me-2">Hello @User.Identity?.Name!</span></li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-outline-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item"><a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        <li class="nav-item ms-2"><a class="btn btn-success" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
    }
</ul>